*{
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: rgb(97, 182, 182);
}

main{
    min-height: 120vh;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: rgb(219, 219, 219);
    padding: 25px 0;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery-item{
    display: flex;
    padding: 1.2rem;
    text-align: center;
    color: azure;
    background-color: darkolivegreen;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 1rem;
}

.nav-list{
    display: flex;
    margin: 0 15px;
    list-style: none;
}


.nav-list a{
    color: #fff;
    text-decoration: none;
}

.nav-list li{
    margin-inline-end: 15px;
}

.main-section-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.footer-section{
    text-align: center;
}

.footer-section ul{
    padding: 0;
    list-style: none;
}

.icon-social{
    width: 32px;
    height: 32px;
    background-size: cover;
}

.icon-facebook{
    background-image: url("https://img.icons8.com/?size=100&id=118467&format=png&color=000000");
}

.icon-insta{
    background-image: url("https://img.icons8.com/?size=100&id=32292&format=png&color=ffffff");
    border-radius: 50%;
}

.icons{
    display: flex;
    justify-content: space-evenly;
}

.copy-right{
    width: 100%;
    margin-top: 20px;
    padding: 15px 90px;
    border-top: 1px solid white;
}

.burger-icon{
    display: none;
    width: 32px;
    height: 32px;
    background-image: url("https://img.icons8.com/?size=100&id=36389&format=png&color=ffffff");
    background-size: cover;
}

@media (width <= 820px) {
    .burger-icon{
        display: inline-block;
    }

    .nav-list li{
        display: none;
    }
}

/*Media queries for footer*/
@media (width <= 600px){
    .main-section-footer{
        flex-direction: column;
        align-items: center;
    }

    .footer-section{
        flex: 1 1 100%;
    }

    .copy-right{
        text-align: center; /*centra el texto en pantallas pequeñas*/
    }
}

/*EJERCICIO EMPIEZA AQUI*/
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #d8dfb9;
}

.gallery-item{
    flex:1 1 calc(33.333% -20px);
    background-color: #148bda;
    color:wheat;
    padding:40px 0;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 8.5px;
}

@media(max-width:768px){
    .gallery-item{
        flex:1 1 calc(50% - 20px);
        background-color: rgb(69, 228, 149);
    }
}

@media(max-width: 480px){
    .gallery-item{
        flex: 1 1 100%;
        background-color: #0c720b;
    }
}

/*BOTON DE AYUDA*/
.help-button{
    position:fixed;
    bottom:20px; /*20px  de distancia desde el fondo*/
    right: 20px; /*20px  de distancia desde la derecha*/
    z-index: 1000; /*stack level. quedará encima de los otros elementos*/
}

.help-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px; /*el boton sera un cuadrado*/
    background-color: royalblue;
    color: azure;
    font-size: 24px;
    border-radius: 50%; /*forma circular*/
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*sombra*/
    transition: background-color 0.3s, transform 0.3s;
}

.help-icon:hover{
    background-color: #01c9cd;
    transform: scale(1.1); /*efecto de crecimiento*/
}

/*Media query for small devices*/
@media (max-width:600px){
    .help-button{
        bottom: 10px;
        right: 10px;
    }

    .help-icon{
        width:40px;
        height: 40px;
        font-size: 20px;
    }
}

